---
Language: Cpp
BasedOnStyle: Stroustrup
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: false
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
BinPackArguments: true
BinPackParameters: true
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: CaseSensitive
...
